.techList {
    text-align: center;
  }

.techTitle {
    background-color: #6596ff;
    text-align: center;
    padding: 1rem 0;
}

.technology {
    display: inline-grid;
    justify-items: center;
    margin: 1rem 2.5rem 2rem 2.5rem;
    height: 10rem;
    text-align: center;
    font-weight: bold;
}

.techList {
    height: 25rem;
}

.icon {
    height: 9rem;
    margin-bottom: 1rem;
}

.technology > span {
    font-size: large;
}
